:root {
  --paragraph-color: #2f2e41;
  --primary: #6c63ff;
  --paragraph-font-family: Montserrat;
  --paragraph-font-weight: Light;
  --title-font-family: Montserrat, sans-serif;
  --title-font-weight: Bold;
  --paragraph-font-size: 32px;
  --title-font-size: 54px;
  width: auto;
}

body {
  font-family: var(--title-font-family);
  width: 100%;
}

.label {
  margin-left: 10px;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;

  padding-left: 5rem;
  padding-right: 5rem;

  margin: auto;
  width: 100%;

  h1 {
    max-width: fit-content;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    min-width: 200px;
  }
}

.cl1 {
  p {
    max-width: 700px;
  }
}

.cl2 {
  form {
    max-width: 800px;
  }
}

.paragraph {
  color: var(--paragraph-color);
  font-weight: var(--paragraph-font-weight);
  font-size: var(--paragraph-font-size);
}

.title {
  color: var(--primary);
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
}

.btn-primary {
  background-color: var(--primary) !important;
}

.responsive {
  width: 100%;
  max-height: 500px;
  //height: auto;
}

table {
  th {
    color: var(--primary);
  }
}
